Repository hpcugent/vsc_user_docs, pull requests merged in 2018-08, with the labels that each got.

#190 Added intro-Linux to Travis (Fixes #184)
  .travis.yml
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern)

#181 (Linux intro, getting started) Corrected typo, added explanation about env command #188
  .travis.yml
  intro-Linux/ch_getting_started.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern)

#197 Make navigating easier by coloring links blue
  style.tex
Labels: Jasper (HPC-UGent student intern), priority:medium

#182 Linux chapter navigating
  .travis.yml
  intro-Linux/ch_navigating.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern)

#180 Accent typos
  .travis.yml
  intro-HPC/.DS_Store
  intro-HPC/ch_account.tex
  intro-HPC/ch_preparing_the_environment.tex
  intro-HPC/ch_running_jobs_with_input_output_data.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern)

#218 Explain non default private key location
  .travis.yml
  intro-HPC/ch_preparing_the_environment.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#169 explain non default private key location
  intro-HPC/ch_preparing_the_environment.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#216 Fix #215, shorter build times on Travis
  .travis.yml
  travis-install.sh
Labels: Jasper (HPC-UGent student intern), priority:high

#219 Linux chapter manipulating files
  .travis.yml
  intro-Linux/ch_manipulating_files_and_directories.tex
  intro-Linux/ch_navigating.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#224 Linux chapter beyond the basics
  .travis.yml
  intro-Linux/ch_beyond_the_basics.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#225 Linux chapter common pitfalls
  .travis.yml
  intro-Linux/ch_common_pitfalls.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#227 Troubleshooting: first connection
  .travis.yml
  intro-HPC/ch_preparing_the_environment.tex
  intro-HPC/ch_troubleshooting.tex
  intro-HPC/title.tex
  macros.tex
  sites/antwerpen/macros.tex
  sites/brussel/macros.tex
  sites/gent/macros.tex
  sites/leuven/macros.tex
Labels: Jasper (HPC-UGent student intern)

#223 Linux chapter uploading/downloading/editing
  .travis.yml
  intro-HPC/ch_preparing_the_environment.tex
  intro-HPC/ch_troubleshooting.tex
  intro-HPC/title.tex
  intro-Linux/ch_common_pitfalls.tex
  intro-Linux/ch_uploading_files.tex
  intro-Linux/title.tex
  macros.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#221 Linux chapter filesystems
  .travis.yml
  intro-HPC/ch_running_jobs_with_input_output_data.tex
  intro-HPC/title.tex
  intro-Linux/ch_filesystems.tex
  intro-Linux/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#241 Style guide: verb vs texttt (#217)
  style-guide.tex
Labels: Jasper (HPC-UGent student intern), priority:medium

#238 Troubleshooting loading conflicting modules
  .travis.yml
  intro-HPC/ch_troubleshooting.tex
  intro-HPC/title.tex
  style.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#240 Revise best practices
  .travis.yml
  intro-HPC/ch_best_practices.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#233 [READY] SSH connect troubleshooting
  .travis.yml
  intro-HPC/ch_account.tex
  intro-HPC/ch_preparing_the_environment.tex
  intro-HPC/ch_troubleshooting.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#239 Update UGent CAS screenshot
  .travis.yml
  img/ch2-browser-authenticate-gent.png
  intro-HPC/ch_account.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high

#237 Document VOs
  .travis.yml
  img/ch6-VO-join.png
  img/ch6-VO-new.png
  img/ch6-VO-request-additional-quota.png
  intro-HPC/ch_running_jobs_with_input_output_data.tex
  intro-HPC/title.tex
Labels: Jasper (HPC-UGent student intern), priority:high
